<footer class="relative bg-blueGray-200 pt-8 pb-6">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20" style="transform: translateZ(0);">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-center lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-semibold">Let's keep in touch!</h4>
        <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6">
          <button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <a target="_blank" href="https://twitter.com/paysamsky" class="twitter">
              <i class="fab fa-twitter"></i>
            </a>
          </button>
          <button class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <a target="_blank" href="https://www.facebook.com/samskytravel" class="facebook">
              <i class="fab fa-facebook-square"></i>
            </a>
          </button>
          <button class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <a target="_blank" href="https://www.instagram.com/samskypay/" class="instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </button>
          <button class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <a href="tel:02072498096" class="callus">
              <i class="fa fa-phone"></i>
            </a>
          </button>
        </div>
        <div class="w-full lg:w-6/12">
          <div class="flex flex-wrap items-top">
            <div class="w-full lg:w-4/12 py-2 mr-2 justify-center">
              <img src="../../../../assets/img/visa.png" alt="" width="auto">
            </div>
            <div class="w-full lg:w-4/12 py-2 justify-center">
              <img src="../../../../assets/img/pci.png" alt="" width="70%">
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-6/12 px-4 ml-auto">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">
              Contact Us
            </span>
            <ul class="list-unstyled">
              <li>
                <b class="text-blueGray-800 hover:text-blueGray-900 font-semibold pb-2 text-sm">E-mail Address:</b>
                <span class="text-sm">
                  info@samskypay.com
                </span>
              </li>
              <li>
                <b class="text-blueGray-800 hover:text-blueGray-900 font-semibold pb-2 text-sm">Company Phone No:</b>
                <span class="text-sm">
                  02072498096
                </span>
              </li>
              <li>
                <b class="text-blueGray-800 hover:text-blueGray-900 font-semibold pb-2 text-sm">Head Office: </b>
                  <span class="text-sm">79 Green Street
                  London E7 8JF</span>
              </li>
              <li>
                <b class="text-blueGray-800 hover:text-blueGray-900 font-semibold pb-2 text-sm">
                  Manchester Branch:
                </b>
                <span class="text-sm">
                  285 Moston Lane Manchester, M40 9WJ </span>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
                        <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">
                            Useful Links
                        </span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/presentation?ref=na-footer">
                  About Us
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/presentation?ref=na-footer">
                  FAQ
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://blog.creative-tim.com?ref=na-footer">
                  Complaints Procedure
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.github.com/creativetimofficial?ref=na-footer">
                  Terms and Conditions
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free?ref=na-footer">
                 Privacy Policy
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-10/12 px-4 text-center">
      <div class="items-top mb-6">
        <p>
          Samsky Pay is a trading name of Samsky Travel Ltd, a company incorporated under the laws of England and
          Wales with <b>Registration Number 11660876 </b>.
        </p>
        <p>
          Samsky Travel Ltd is authorised by the Financial Conduct Authority (FCA) <b>Registration No.(928035)</b> | under
          the Payment Services Regulations 2017(PSRs).
        </p>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
          Copyright © {{ date }} Samsky Pay
        </div>
      </div>
    </div>
  </div>
</footer>
