<app-index-navbar></app-index-navbar>
<section class="header bga relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          An efficient way to receive <br> and send money.
        </h2>
        <div class="MuiBox-root jss718 jss99">
          <div class="MuiBox-root jss719">
            <a class="MuiTypography-root MuiLink-root jss11 MuiLink-underlineAlways MuiTypography-colorPrimary jss13" target="_blank" rel="noopener noreferrer" href="https://uk.trustpilot.com/review/samskytravel.co.uk">
              <img loading="lazy"
                   data-src="../../../assets/img/logo-white-trustpilot.svg"
                   src="../../../assets/img/logo-white-trustpilot.svg"
                   alt="A white Trustpilot logo on grey background with a green star on the left side"
                   class="jss78 ls-is-cached lazyloaded" title="logo-white-trustpilot-white" width="250px" height="47">
            </a>
          </div>
          <div class="MuiBox-root jss720">
            <hr class="jss77 MuiDivider-light MuiDivider-vertical">
          </div>
          <div class="MuiBox-root jss721">
            <span class="MuiBox-root jss722">
              <h6 class="MuiTypography-root MuiTypography-subtitle2 jss79">Great</h6>
            </span>
            <a class="MuiTypography-root MuiLink-root jss80 jss79 MuiLink-underlineHover MuiTypography-colorPrimary jss13" target="_blank" rel="noopener noreferrer" href="https://uk.trustpilot.com/review/samskytravel.co.uk">
              57,787+ reviews
            </a>
          </div>
        </div>
        <!--<div class="mt-12">
          <a
            href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-index-page"
            target="_blank"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
            Get started
          </a>
          <a
            href="https://github.com/creativetimofficial/notus-angular?ref=creativetim"
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            target="_blank">
            Github Star
          </a>
        </div>-->
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="../../../assets/img/pattern_react.png"
    alt="..."/>
</section>

<section class=" relative block bg-blueGray-800">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20" style="transform: translateZ(0);">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-blueGray-800 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>

  <div class="container mx-auto px-4 xs:pb-32 lg:pt-24 lg:pb-56 chooseContainer">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold text-white">Why Choose Samsky Pay</h2>
        <!--<p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400">-->
          <!--Put the potentially record low maximum sea ice extent tihs year down to low ice. According to the National Oceanic and Atmospheric Administration, Ted, Scambos.-->
        <!--</p>-->
      </div>
    </div>
    <div class="flex flex-wrap mt-12 justify-center">
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div class="w-12 h-12 shadow-lg inline-flex items-center justify-center">
          <img loading="lazy" data-src="../../../assets/img/banner-bottom-icon.png"
               src="../../../assets/img/banner-bottom-icon1.png" alt="An icon of a clock" class=" ls-is-cached lazyloaded"
               title="clock icon" width="84" height="84">
        </div>
        <h6 class="text-xl mt-5 font-semibold text-white">
          Great Exchange Rates
        </h6>
        <p class="mt-2 mb-4 text-blueGray-400">
          Get More For Your Money With Our Excellent Rates
        </p>
      </div>
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div class="w-12 h-12 shadow-lg inline-flex items-center justify-center">
          <img loading="lazy" data-src="../../../assets/img/banner-bottom-icon2.png"
               src="../../../assets/img/banner-bottom-icon2.png"
               alt="icon illustrating a debit or credit card with a padlock to represent security" class="ls-is-cached lazyloaded"
               title="safe icon" width="84" height="84">
        </div>
        <h5 class="text-xl mt-5 font-semibold text-white">
          Anytime, Anywhere
        </h5>
        <p class="mt-2 mb-4 text-blueGray-400">
          Fast, Reliable Transfers Over The Phone Or Online 24/7.
        </p>
      </div>
      <div class="w-full lg:w-3/12 px-4 text-center">
        <div class="w-12 h-12 shadow-lg inline-flex items-center justify-center">
          <img loading="lazy" data-src="../../../assets/img/banner-bottom-icon3.png"
               src="../../../assets/img/banner-bottom-icon3.png"
               alt="icon illustrating a debit or credit card with a padlock to represent security" class="ls-is-cached lazyloaded"
               title="safe icon" width="84" height="84">
        </div>
        <h5 class="text-xl mt-5 font-semibold text-white">
          Low Transfer Fees
        </h5>
        <p class="mt-2 mb-4 text-blueGray-400">
          Move Your Money Quickly And Securely.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mt-40 md:mt-35 pb-40 relative bg-blueGray-100">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)">
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0">
      <polygon class="text-blueGray-100 fill-current"
        points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-10/12 xs\:w-5\/12 md:w-6/12 lg:w-5/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600 ga100 mt-5">
          <iframe width="100%" height="400" src="https://www.youtube.com/embed/zxJqlJ36svI"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen="" style="padding: 2px; border-radius: 0.5rem;"></iframe>
          <blockquote class="relative p-8 mb-4">
            <svg
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px">
              <polygon
                points="-30,95 583,95 583,65"
                class="text-red-600 fill-current"
              ></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">
              Samsky Pay Is The Best Way To Go International
            </h4>
            <p class="text-md font-light mt-2 text-white">
              Sign Up And Start Saving On International Money Transfers And Currency Exchange.
            </p>
          </blockquote>
        </div>
      </div>

      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col mt-4">
              <div class="px-1 py-5 flex-auto">
                <div
                  class="w-17 h-20 mx-auto">
                  <img loading="lazy" src="../../../assets/img/destination1.jpg"
                       class=" ls-is-cached lazyloaded"
                       title="clock icon" width="135" height="102" style="border-radius: 10px; margin-left: auto;
                       margin-right: auto;">
                </div>
                <h6 class="text-xl mb-1 font-semibold">
                  Register For Free.
                </h6>
                <p class="mb-4 text-blueGray-500">
                  By registering, Join those who already use Samsky Pay to send money on the go quite safely.
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-1 py-5 flex-auto">
                <div
                  class="w-17 h-20 mx-auto">
                  <img loading="lazy" src="../../../assets/img/destination2.jpg"
                       class=" ls-is-cached lazyloaded"
                       title="clock icon" width="135" height="102" style="border-radius: 10px; margin-left: auto;
                       margin-right: auto;">
                </div>
                <h6 class="text-xl mb-1 font-semibold">
                  Add Recipient’s Bank Details.
                </h6>
                <p class="mb-4 text-blueGray-500">
                  Simply enter your recipient’s account details to transfer money directly to their bank. Alternatively, provide their name and address to send funds for cash pickup.
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-3 py-5 flex-auto">
                <div
                  class="w-17 h-20 mx-auto">
                  <img loading="lazy" src="../../../assets/img/destination3.jpg"
                       class=" ls-is-cached lazyloaded"
                       title="clock icon" width="135" height="102" style="border-radius: 10px; margin-left: auto;
                       margin-right: auto;">
                </div>
                <h6 class="text-xl mb-1 font-semibold">
                  Pay For Your Transfer.
                </h6>
                <p class="mb-4 text-blueGray-500">
                  Select a secure payment method to choose whether to pay with your credit/debit card or with your bank account and simply complete the payment.
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 mt-4">
              <div class="px-1 py-5 flex-auto">
                <div
                  class="w-17 h-20 mx-auto">
                  <img loading="lazy" src="../../../assets/img/destination4.jpg"
                       class=" ls-is-cached lazyloaded"
                       title="clock icon" width="135" height="102" style="border-radius: 10px; margin-left: auto;
                       margin-right: auto;">
                </div>
                <h6 class="text-xl mb-1 font-semibold">
                  Choose An Amount To Send.
                </h6>
                <p class="mb-4 text-blueGray-500">
                  Enter the destination where you want to send and choose the amount you would like to send.
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-1 py-5 flex-auto">
                <div
                  class="w-17 h-20 mx-auto">
                  <img loading="lazy" src="../../../assets/img/destination5.jpg"
                       class=" ls-is-cached lazyloaded"
                       title="clock icon" width="135" height="102" style="border-radius: 10px; margin-left: auto;
                       margin-right: auto;">
                </div>
                <h6 class="text-xl mb-1 font-semibold">Verify Your Identity.</h6>
                <p class="mb-4 text-blueGray-500">
                  Verify your profile to send money online. You can verify your profile using your United Kingdom driver’s license, passport or government-issued ID.
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-1 py-5 flex-auto">
                <div
                  class="w-17 h-20 mx-auto">
                  <img loading="lazy" src="../../../assets/img/destination6.jpg"
                       class=" ls-is-cached lazyloaded"
                       title="clock icon" width="135" height="102" style="border-radius: 10px; margin-left: auto;
                       margin-right: auto;">
                </div>
                <h6 class="text-xl mb-1 font-semibold">That’s It.</h6>
                <p class="mb-4 text-blueGray-500">
                  After completing all the steps above, you will be assured by us by getting confirmation message or email.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="trusted-world">
    <div class="container1">
      <div class="row1">
        <div class="col-sm-121 text-center1">
          <h2 class="trusted-h2">
            <b>Trusted</b> all over the world
          </h2>
          <h4 class="trusted-h4">
            Because the Samsky Pay is effectively unhackable, it can work as a highly trusted source of sending money all over the world.
          </h4>
        </div>
        <div class="clearfix"></div>
        <p class="text-center popularCountry">
          Popular countries
        </p>
        <div class="all-countries">
          <ul>
            <li>
              <a href="https://remit.by/samskypayonline/login">
                <img src="../../../assets/img/ghana.png" alt="ghana" class=""> Ghana
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </li>
            <li><a href="https://remit.by/samskypayonline/login"><img src="../../../assets/img/india.png" alt="india" class=""> India <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            <li><a href="https://remit.by/samskypayonline/login"><img src="../../../assets/img/kenye.png" alt="kenye" class=""> Kenya <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            <li><a href="https://remit.by/samskypayonline/login"><img src="../../../assets/img/nigeria.png" alt="nigeria" class=""> Nigeria <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            <li><a href="https://remit.by/samskypayonline/login"><img src="../../../assets/img/pakistan.png" alt="pakistan" class=""> Pakistan <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            <li><a href="https://remit.by/samskypayonline/login"><img src="../../../assets/img/srilanka.png" alt="srilanka" class=""> Srilanka <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            <li><a href="https://remit.by/samskypayonline/login"><img src="../../../assets/img/bangladesh.png" alt="bangladesh" class=""> Bangladesh <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            <li><a href="https://remit.by/samskypayonline/login"><img src="../../../assets/img/cameroon.png" alt="cameroon" class=""> Cameroon <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            <li><a href="https://remit.by/samskypayonline/login"><img alt="cameroon" src="../../../assets/img/c44.png"> Zambia<i aria-hidden="true" class="fa fa-chevron-right"></i></a></li>
            <li><a href="https://remit.by/samskypayonline/login"><img alt="cameroon" src="../../../assets/img/c43.png"> Vietnam<i aria-hidden="true" class="fa fa-chevron-right"></i></a></li>
            <li><a href="https://remit.by/samskypayonline/login"><img alt="cameroon" src="../../../assets/img/c39.png"> Thailand <i aria-hidden="true" class="fa fa-chevron-right"></i></a></li>
            <li><a href="https://remit.by/samskypayonline/login"><img alt="cameroon" src="../../../assets/img/c40.png"> Turkey<i aria-hidden="true" class="fa fa-chevron-right"></i></a></li>
          </ul>
          <div class="text-center popularCountry">
            <a [routerLink]="['/']" class="popularCountryA">
              View All Countries
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container mx-auto overflow-hidden pb-20 relative bg-blueGray-800 easyWays">
    <!--<div class="flex flex-wrap items-center">
      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
        >
          <i class="fas fa-sitemap text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          CSS Components
        </h3>
        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
        >
          Every element that you need in a product comes built in as a
          component. All components fit perfectly with each other and can have
          different colours.
        </p>
        <div class="block pb-6">
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            Buttons
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            Inputs
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            Labels
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            Menus
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            Navbars
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            Pagination
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            Progressbars
          </span>
          <span
            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-white uppercase last:mr-0 mr-2 mt-2"
          >
            Typography
          </span>
        </div>
        <a
          href="https://www.creative-tim.com/learning-lab/tailwind/angular/alerts/notus?ref=na-index-page"
          target="_blank"
          class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150"
        >
          View All
          <i class="fa fa-angle-double-right ml-1 leading-relaxed"></i>
        </a>
      </div>

      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto mt-32">
        <div class="relative flex flex-col min-w-0 w-full mb-6 mt-48 md:mt-0">
          <img
            alt="..."
            src="../../../assets/img/component-btn.png"
            class="w-full align-middle rounded absolute shadow-lg max-w-100-px left-145-px -top-29-px z-3"
          />
          <img
            alt="..."
            src="../../../assets/img/component-profile-card.png"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-210-px left-260-px -top-160-px"
          />
          <img
            alt="..."
            src="../../../assets/img/component-info-card.png"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-180-px left-40-px -top-225-px z-2"
          />
          <img
            alt="..."
            src="../../../assets/img/component-info-2.png"
            class="w-full align-middle rounded-lg absolute shadow-2xl max-w-200-px -left-50-px top-25-px"
          />
          <img
            alt="..."
            src="../../../assets/img/component-menu.png"
            class="w-full align-middle rounded absolute shadow-lg max-w-580-px -left-20-px top-210-px"
          />
          <img
            alt="..."
            src="../../../assets/img/component-btn-pink.png"
            class="w-full align-middle rounded absolute shadow-xl max-w-120-px left-195-px top-95-px"
          />
        </div>
      </div>
    </div>-->

    <div class="flex flex-wrap items-center pt-32">

      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-24">
        <!--<div-->
          <!--class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">-->
          <!--<i class="fas fa-drafting-compass text-xl"></i>-->
        <!--</div>-->
        <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">
          3 Easy Ways <br> To Send Money
        </h3>
        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-400">
          Samsky Pay Ways to Move Funds
        </p>
      </div>

      <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-32 mta10">
        <div class="justify-center flex flex-wrap relative">
          <div class="my-4 w-full lg:w-6/12 px-4" >
            <a [routerLink]="['/']">
              <div class="bg-red-600 shadow-lg rounded-lg text-center p-8 aos-init aos-animate" data-aos="fade-up"
                   data-aos-easing="linear" data-aos-duration="500">
                <img alt="..." class="shadow-md rounded-full max-w-full w-18 mx-auto p-2 bg-white"
                  src="../../../assets/img/destination7.png"/>
                <p class="text-lg text-white mt-4 font-semibold">Bank Deposit</p>
                <p class="text-sm text-white mt-4">Get money paid straight into your account within minutes</p>
              </div>
            </a>
            <a [routerLink]="['/']">
              <div
                class="bg-lightBlue-500 shadow-lg rounded-lg text-center p-8 mt-8 aos-init aos-animate" data-aos="fade-up"
                data-aos-easing="linear" data-aos-duration="500">
                <img alt="..." class="shadow-md rounded-full max-w-full w-18 mx-auto p-2 bg-white"
                  src="../../../assets/img/destination9.png"/>
                <p class="text-lg text-white mt-4 font-semibold">Mobile Wallet</p>
                <p class="text-sm text-white mt-4">Transfer money instantly into mobile wallets.</p>
              </div>
            </a>
          </div>
          <div class="my-4 w-full lg:w-6/12 px-4 lg:mt-16">
            <a [routerLink]="['/']">
              <div class="bg-emerald-500 shadow-lg rounded-lg text-center p-14 mt-8 aos-init aos-animate" data-aos="fade-up"
                   data-aos-easing="linear" data-aos-duration="500">
                <img alt="..." class="shadow-md rounded-full max-w-full w-18 mx-auto p-2 bg-white"
                  src="../../../assets/img/destination8.png"
                />
                <p class="text-lg text-white mt-4 font-semibold">Cash Pickup</p>
                <p class="text-sm text-white mt-4">Pick up cash from collection points in minutes</p>
              </div>
            </a>
            <!--<a
              href="https://www.creative-tim.com/learning-lab/tailwind/vue/alerts/notus?ref=vtw-index"
              target="_blank">
              <div
                class="bg-emerald-500 shadow-lg rounded-lg text-center p-8 mt-8">
                <img
                  alt="..."
                  class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                  src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/vue.jpg"
                />
                <p class="text-lg text-white mt-4 font-semibold">Vue.js</p>
              </div>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4 pb-20 pt-24">
    <div class="items-center flex flex-wrap">
      <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
        <div class="md:pr-12">
          <!--<div
            class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
          >
            <i class="fas fa-file-alt text-xl"></i>
          </div>-->
          <h3 class="text-3xl font-semibold"> Download On The App Store, Get It On The Google Play </h3>
          <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
            Keep Track Of Your Transfers On The Go With Samsky Pay, Make New Or Repeat Transfers Where Ever You Are At The Touch Of A Button.
          </p>
          <!--<ul class="list-none mt-6">
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fas fa-fingerprint"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Built by Developers for Developers
                  </h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fab fa-html5"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Carefully crafted code for Components
                  </h4>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3"
                  >
                    <i class="far fa-paper-plane"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Dynamic Javascript Components
                  </h4>
                </div>
              </div>
            </li>
          </ul>-->
          <div class="grid-container">
            <img src="../../../assets/img/downaload-app1.png" alt="samsky pay" class="download-app-img">
            <img src="../../../assets/img/downaload-app2.png" alt="samsky pay" class="download-app-img">
          </div>
        </div>
      </div>

      <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
        <img alt="..." class="max-w-full rounded-lg shadow-xl" style="
            transform: scale(1) perspective(1040px) rotateY(-11deg)
              rotateX(2deg) rotate(2deg);" src="../../../assets/img/downaload-app3.png" width="450" height="381"/>
      </div>
    </div>
  </div>



  <div class="pricing-section section-gray">
    <div class="pricing-space"></div>
    <div class="pricing-container">
      <div class="big-info">
        <h2 class="ratings1">RATINGS AND REVIEWS <br>
          <!--<small>If you like it, pick a plan that best fits your needs:</small>-->
        </h2>
      </div>
      <div class="pricing-row">
        <div class="col-md-4">
          <div class="card card-price">
            <div class="content">
              <div>
                <p>
                  I have used this service and this specific outlet numerous times over the past few years, and I can't praise it enough. The customer service is excellent, especially Diana with her beautiful smile brightens up your day
                </p>
              </div>
            </div>
            <div class="footer">
              <h3>
                William
              </h3>
            </div>
          </div> <!-- end card -->
        </div>
        <div class="col-md-4">
          <div class="card card-price card-price-best-deal">
            <div class="content">
              <div>
                <p>
                  Samsky Pay is the most reliable money transfer company. They have dedicated staffs and the service is secure, fast and reliable. I can recommend the company to anyone.  Happy Customer
                </p>
              </div>
            </div>
            <div class="footer">
              <h3>
                Dylan
              </h3>
            </div>
          </div> <!-- end card -->
        </div>
        <div class="col-md-4">
          <div class="card card-price">
            <div class="content">
              <div>
                <p>
                  Every time I come here I am always treated with the most respect and the staff here are very kind and positive and always helpful with what I need. I would 100% recommend this branch.
                </p>
              </div>
            </div>
            <div class="footer">
              <h3>
                Jackson
              </h3>
            </div>
          </div> <!-- end card -->
        </div>

        <div class="col-md-12 popularCountry">
          <div class="space-50"></div>
          <a class="testimonialsA" [routerLink]="['/']">
            View All Testimonials
          </a>
        </div>
      </div> <!-- end row -->
    </div>
  </div>



  <div class="justify-center text-center flex flex-wrap mt-24">
    <div class="w-full md:w-6/12 px-12 md:px-4">
      <h2 class="font-semibold text-4xl">SAMSKY PAY INSIGHTS</h2>
      <!--<p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">-->
        <!--Notus Angular is a completly new product built using our past experience-->
        <!--in web templates. Take the examples we made for you and start playing-->
        <!--with them.-->
      <!--</p>-->
    </div>
  </div>
</section>

<section class="block relative z-1 bg-blueGray-600">
  <div class="container mx-auto">
    <div class="justify-center flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4 -mt-24">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-3/12 px-4">
            <div class="card">
              <a [routerLink]="['/']">
                <div class="image cards"
                     style="background: url('../../../assets/img/istockphoto-975914670-612x612.jpg') center center;background-size: cover; border-radius: 6px 6px 10px 11px;">
                  <img src="../../../assets/img/istockphoto-975914670-612x612.jpg" alt="..." style="display: none;">
                  <div class="filter filter-azure">
                    <button type="button" class="btn btn-neutral btn-round">
                      <!--<i class="fa fa-heart"></i> Bookmarked-->
                    </button>
                  </div>
                </div>
              </a>
              <div class="content">
                <p class="category">Worldwide Recognised...</p>
                  <h4 class="title">
                    Moving abroad can be an unpredictable experie...
                  </h4>
                <div class="footer">
                  <div class="author text-right">
                    <a class="card-link text-right" [routerLink]="['/']">
                      Read
                    </a>
                  </div>
                </div>
              </div>
            </div>
              <!--<h5 class="text-xl font-semibold pb-4 text-center">Login Page</h5>
              <a [routerLink]="['/auth/login']" class="cards">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                  <img  alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="../../../assets/img/login.jpg"/>
                </div>
              </a>-->
          </div>

          <div class="w-full lg:w-3/12 px-4">
            <div class="card">
              <a [routerLink]="['/']">
                <div class="image cards"
                     style="background: url('../../../assets/img/typing.jpg') center center;
                     background-size: cover; border-radius: 6px 6px 10px 11px;">
                  <img src="../../../assets/img/typing.jpg" alt="..." style="display: none;">
                  <div class="filter filter-azure">
                    <button type="button" class="btn btn-neutral btn-round">
                      <!--<i class="fa fa-heart"></i> Bookmarked-->
                    </button>
                  </div>
                </div>
              </a>
              <div class="content">
                <p class="category">Use Our Services Wit...</p>
                  <h4 class="title">
                    Samsky Pay is the fastest and easiest way to ...</h4>
                <div class="footer">
                  <div class="author text-right">
                    <a class="card-link text-right" [routerLink]="['/']">
                      Read
                    </a>
                  </div>
                </div>
              </div>
            </div>
              <!--<h5 class="text-xl font-semibold pb-4 text-center">Profile Page</h5>
              <a [routerLink]="['/profile']" class="cards">
                <div
                  class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                  <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                    src="../../../assets/img/profile.jpg"/>
                </div>
              </a>-->
          </div>

          <div class="w-full lg:w-3/12 px-4">
            <div class="card">
              <a [routerLink]="['/']">
                <div class="image cards"
                     style="background: url('../../../assets/img/sendmoney.jpg') center
                     center;background-size: cover; border-radius: 6px 6px 10px 11px;">
                  <img src="../../../assets/img/sendmoney.jpg" alt="..." style="display: none;">
                  <div class="filter filter-azure">
                    <button type="button" class="btn btn-neutral btn-round">
                      <!--<i class="fa fa-heart"></i> Bookmarked-->
                    </button>
                  </div>
                </div>
              </a>
              <div class="content">
                <p class="category">Benefits Of Sending ...</p>
                  <h4 class="title">
                    Using our services is quite helpful and benef...</h4>
                <div class="footer">
                  <div class="author text-right">
                    <a class="card-link text-right" [routerLink]="['/']">
                      Read
                    </a>
                  </div>
                </div>
              </div>
            </div>
                <!--<h5 class="text-xl font-semibold pb-4 text-center">Landing Page</h5>
                <a [routerLink]="['/landing']" class="cards">
                  <div
                    class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                    <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                      src="../../../assets/img/landing.jpg"/>
                  </div>
                </a>-->
          </div>

          <div class="w-full lg:w-3/12 px-4">
            <div class="card">
              <a [routerLink]="['/']">
                <div class="image cards"
                     style="background: url('../../../assets/img/moneysent.jpg') center
                     center;background-size: cover; border-radius: 6px 6px 10px 11px;">


                    <img src="../../../assets/img/moneysent.jpg" alt="..." style="display: none;">
                  <div class="filter filter-azure">
                    <button type="button" class="btn btn-neutral btn-round">
                      <!--<i class="fa fa-heart"></i> Bookmarked-->
                    </button>
                  </div>
                </div>
              </a>
              <div class="content">
                <p class="category">Procedures Of Sendin...</p>
                  <h4 class="title">
                    Sending money using Samsky Pay is simple and ...</h4>
                <div class="footer">
                  <div class="author text-right">
                    <a class="card-link text-right" [routerLink]="['/']">
                      Read
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--<h5 class="text-xl font-semibold pb-4 text-center">Landing Page</h5>
            <a [routerLink]="['/landing']" class="cards">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
                <img alt="..." class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="../../../assets/img/landing.jpg"/>
              </div>
            </a>-->
          </div>

          <div class="col-md-12 popularCountry">
            <div class="space-50"></div>
            <a class="testimonialsA" [routerLink]="['/']">
              View All Post
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-20 bg-blueGray-600 overflow-hidden">
  <div class="container mx-auto pb-64">
    <div class="flex flex-wrap justify-center">
      <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64">
        <!--<div-->
          <!--class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">-->
          <!--<i class="fas fa-code-branch text-xl"></i>-->
        <!--</div>-->
        <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">
          <!--Open Source-->
        </h3>
        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-400">
          <!--Since-->
          <!--<a href="https://tailwindcss.com/?ref=creativetim" class="text-blueGray-300"-->
            <!--target="_blank">-->
            <!--Tailwind CSS-->
          <!--</a>-->
          <!--is an open source project we wanted to continue this movement too. You-->
          <!--can give this version a try to feel the design and also test the-->
          <!--quality of the code!-->
        </p>
        <!--<p-->
          <!--class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-400">-->
          <!--Get it free on Github and please help us spread the news with a Star!-->
        <!--</p>-->
        <!--<a href="https://github.com/creativetimofficial/notus-angular?ref=creativetim"-->
          <!--target="_blank" class="github-star mt-4 inline-block text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">-->
          <!--Github Star-->
        <!--</a>-->
      </div>

      <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative">
        <i
          class="fab fa-github text-blueGray-700 text-55 absolute -top-150-px -right-100 left-auto opacity-80"></i>
      </div>
    </div>
  </div>
</section>

<section class="pb-16 bg-blueGray-200 relative pt-32">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)">
    <svg
      class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100"
      x="0"  y="0">
      <polygon
        class="text-blueGray-200 fill-current"
        points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>

  <div class="container mx-auto">
    <div
      class="flex flex-wrap justify-center bg-white shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10">
      <div class="w-full text-center lg:w-8/12">
        <!--<p class="text-4xl text-center">
          <span role="img" aria-label="love"> 😍 </span>
        </p>-->
        <h3 class="font-semibold text-3xl">Frequently Asked Questions</h3>
        <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
          Our customer services team is available 24/7 to help you with any service you require.
        </p>
        <!--<div class="wrapper">

          <div class="container">
            <div class="question">
              How do I verify my email?
            </div>
            <div class="answercont">
              <div class="answer">
                Click the link in the verification email from verify@codepen.io (be sure to check your spam folder or other email tabs if it's not in your inbox).

                Or, send an email with the subject "Verify" to verify@codepen.io from the email address you use for your CodePen account.<br><br>

                <a href="https://blog.codepen.io/documentation/features/email-verification/#how-do-i-verify-my-email-2">How to Verify Email Docs</a>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="question">
              My Pen loads infinitely or crashes the browser.
            </div>
            <div class="answercont">
              <div class="answer">
                It's likely an infinite loop in JavaScript that we could not catch. To fix, add ?turn_off_js=true to the end of the URL (on any page, like the Pen or Project editor, your Profile page, or the Dashboard) to temporarily turn off JavaScript. When you're ready to run the JavaScript again, remove ?turn_off_js=true and refresh the page.<br><br>

                <a href="https://blog.codepen.io/documentation/features/turn-off-javascript-in-previews/">How to Disable JavaScript Docs</a>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="question">
              How do I contact the creator of a Pen?
            </div>
            <div class="answercont">
              <div class="answer">
                You can leave a comment on any public Pen. Click the "Comments" link in the Pen editor view, or visit the Details page.<br><br>

                <a href="https://blog.codepen.io/documentation/faq/how-do-i-contact-the-creator-of-a-pen/">How to Contact Creator of a Pen Docs</a>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="question">
              What version of [library] does CodePen use?
            </div>
            <div class="answercont">
              <div class="answer">
                We have our current list of library versions <a href="https://codepen.io/versions">here</a>

              </div>
            </div>
          </div>

          <div class="container">
            <div class="question">
              What are forks?
            </div>
            <div class="answercont">
              <div class="answer">
                A fork is a complete copy of a Pen or Project that you can save to your own account and modify. Your forked copy comes with everything the original author wrote, including all of the code and any dependencies.<br><br>

                <a href="https://blog.codepen.io/documentation/features/forks/">Learn More About Forks</a>
              </div>
            </div>
          </div>

        </div>-->


        <section>
          <div class="container">
            <div class="accordion">
              <div class="accordion-item" id="question1">
                <a class="accordion-link" href="#question1">
                  Why should I choose Samsky Pay?
                  <i class="icon ion-md-add"></i>
                  <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                  Samsky Pay can save you money by using our experience, market knowledge, technology and focus to get you the most competitive exchange rates because the service is available online and mobile app, you may send money without having to visit a bank.
                </div>
              </div>
              <div class="accordion-item" id="question2">
                <a class="accordion-link" href="#question2">
                  How much money can I transfer?
                  <i class="icon ion-md-add"></i>
                  <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                  Some clients need to transfer larger amounts for commercial transactions or overseas property purchase. Others have different requirements such as sending small amounts to friends and family abroad. We cater for all needs as long as you satisfy our compliance requirements.
                </div>
              </div>
              <div class="accordion-item" id="question3">
                <a class="accordion-link" href="#question3">
                  How do I create an account with Samsky Pay?
                  <i class="icon ion-md-add"></i>
                  <i class="icon ion-md-remove"></i>
                </a>
                <div class="answer">
                  <div class="card-body" style="    margin-left: 3%;">
                    <p style="text-align: left;">
                      FIRST TIME REMITTERS OF SAMSKY PAY – HOW DO I REGISTER
                    </p>
                    <p style="text-align: left">New User Registration (never used Samsky Pay before)</p>
                    <ul style="padding-left: 30px;list-style: disc; text-align: left">
                      <li>Step 1: Click on the ‘Sign up’ button.</li>
                      <li>Step 2: Fill in your personal details/contact details and password,</li>
                      <li>Step 3: Follow the on-screen instructions to complete your registration.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <div class="text-center mt-16"></div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
